{
  border: 1px solid red;
}

body{
  background-color: lightgreen;
}

#initially-hidden{
  display: none;
}
.container{
  background-color: lightgreen;
  border: 3px solid black;
  padding: 10px;
  font-family: arial;
}

.jumbotron p{
  margin-top:50px;
}
